<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - smartr.de Art Directed</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{% for k in page.keywords %}{{ k }},{% endfor %}">
    <meta name="mag:version" content="{{ version }}">

    <link rel="stylesheet" href="{{ page.css }}">

</head>

<body class="{{ page.debug }}">

<div id="container">
    {{ content | safe }}
</div>

</body>
</html>
